body{
    background: rgb(142,105,92);
    background: linear-gradient(33deg, rgba(142,105,92,1) 0%, rgba(177,162,150,1) 29%, rgba(177,161,149,1) 66%, rgba(157,128,113,1) 99%);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Nav Bar */
.navbar {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .item{
    display: flex;
  }
  #logo img {
    height: 70px;
    padding: 0px;
    
  }
  .logo2{
      height: 80px;  
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar ul li {
    float:left;
  }
  
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    color: black;
    background-color: white;
  }
  .heading{
    display: flex;
    flex-wrap: nowrap;
  }

  /* About Us */

@media screen and (min-width: 978px)
{
    .about{
        margin: 70px 200px 50px 200px;
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }
    .eventlist{
        margin: 0px 200px 10px 200px;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .holder{
        display:flex;
        gap: 50px;
        margin: 10px 0px 50px 0px;
    }
}
@media screen and (max-width: 978px)
{
    .about{
        margin: 70px 30px 50px 30px;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .eventlist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .holder{
        display:flex;
        flex-direction: column;
        gap: 30px;
        margin: 15px 20px 15px 20px;
    }
}

/* Events */

.event{
    margin: 10px;
    background-color: rgb(51, 50, 50);
    color: cornsilk;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}
.event h4{
    font-size: larger;
    margin-bottom: 3px;
}