.social_handles ul {
    position: absolute;
    /* top: 20%; */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social_handles ul li {
    list-style: none;
    margin: 0 10px;
    padding-bottom: 40px;
}
.social_handles ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social_handles ul li .fa:hover {
    color: #ffffff;
}
.social_handles ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;        
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social_handles ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social_handles ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social_handles ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social_handles ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social_handles ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}

.apply-now button{

    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    left: 47%;
    color: white;
    background-color: rgb(31, 72, 148);
    text-decoration: none;
    /* bottom:0%; */
    font-weight: 500;
    margin-bottom: 80px;
    margin-top: 20px;
    
}